@font-face {
    font-family: "ImpactRegular";
    src: url("../Fonts/ImpactRegular/ImpactRegular.eot");
    src: url("../Fonts/ImpactRegular/ImpactRegular.eot?#iefix")format("embedded-opentype"),
    url("../Fonts/ImpactRegular/ImpactRegular.woff") format("woff"),
    url("../Fonts/ImpactRegular/ImpactRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.header_wrapper {
    background-color: red;
    display: flex;
    justify-content: center;
}

.name_site {
    position: relative;
}

.name_site p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-family: 'ImpactRegular';
    font-size: 90px;
    position: absolute;
    top: 50%;                         
    transform: translate(0, -50%)
}

.kprf_logo img{
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 85%; 
    height: auto;
}


.promo_photo {
    margin-top: 20px;
    background: no-repeat;
    background-image:url("../Image/promo_photo3.png");
    background-size:cover;
    height: 680px;
}

.kprf_slider {
    margin: 129px 35px;
    width: 1040px;
    height:440px;
    overflow: hidden;
}

#menu {
    margin-top: 20px;
    display: flex;
    background-color: red;
    justify-content: space-around;
}

.menu_bar {
    box-sizing: border-box;
    color: white;
    padding: 10px;
    font-family: 'ImpactRegular';
    font-size: 35px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}

.menu_bar:hover {
    cursor: pointer;
    color: goldenrod;
    border: goldenrod 5px solid;
    border-radius: 40px;
    transition: 0.5s;
    text-shadow: 1px 1px 2px black, 0 0 1em black
}

@media (min-width: 1440px) {
    .promo_photo {
        background-image: url('../Image/promo_photo1440.png');
    }
    .kprf_slider {
        margin: 130px 45px;
        width: 1200px;
        height: 400px;
}
